<!DOCTYPE html>
<html>
  <head>
    <title>登录注册练习</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
  </head>
  <body>
    <h1>项目</h1>
    <% if(name){ %>
    	<h2>欢迎-<%- name %></h2>
    	<button class="btn btn-success" onclick="location.href='/liuyan'">留言</button>
   		<button class="btn btn-primary" onclick="location.href='/relogin'">注销</button>
    <% }else{ %>
	    <button class="btn btn-success" onclick="location.href='/login'">登录</button>
	   	<button class="btn btn-primary" onclick="location.href='/resgin'">注册</button>
   	<% } %>
  </body>
</html>
